﻿@model Repository.Models.Announcement

@{
    ViewBag.Title = "Delete";
    ViewBag.Description = "Delete ad";
    ViewBag.Keywords = "List, Announcements, Announcement, Advertisment, Ads, Ad, Advert, Details";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <button id="Titlebutton" type="button" class="btn btn-default">
                User @Html.DisplayNameFor(model => model.Id):
            </button>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            <button id="Titlebutton" type="button" class="btn btn-default">
                @Html.DisplayNameFor(model => model.Title)
            </button>

        </dt>
     
        <dd>

            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            <button id="Titlebutton" type="button" class="btn btn-default">
                @Html.DisplayNameFor(model => model.Content)
            </button>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            <button id="Titlebutton" type="button" class="btn btn-default">
                @Html.DisplayNameFor(model => model.DateAdded)
            </button>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger confirmation"
                   /> 
            @Html.ActionLink("Back to List", "Index",null, new {@class = "btn btn-success"})
        </div>
    }
</div>

@section Scripts{
    <script type="text/javascript">
        $('.confirmation').on('click', function() {
            return confirm('Are you sure you want delete this?');
        })

    </script>
}
