﻿@using Microsoft.AspNet.Identity
@model Repository.Models.Announcement

@{
    ViewBag.Title = "Details";
    ViewBag.Description = "Details of ads";
    ViewBag.Keywords = "List, Announcements, Announcement, Advertisment, Ads, Ad, Advert, Details";
}
<style>
    d1-horizontal {
        margin: 2px;
    }
     #second {
         float: left;
         width: 50%;
         margin: inherit;
         margin: 2px;
        
         text-align: left
     }
    #first {
        float: left;
        width: 20%;
        clear: both;
        margin: 2px;
        
    }

    #row:hover {
        background-color: #efefef
    }
    #clearboth {
        clear: both;
    }
</style>

<h2>Details</h2>

<div>
    <h4>Announcement @Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <div id="row">
            <div id="first">
                <button id="Titlebutton" type="button" class="btn btn-default">
                    @Html.DisplayNameFor(model => model.Title)
                </button>
            </div>
            <div id="second" style="float: left">
                @Html.DisplayFor(model => model.Title)
            </div>
        </div>
      
        <br>
        <div id="row">
            <div id="first">
                <button id="UserIdbutton" type="button" class="btn btn-default">User @Html.DisplayNameFor(model => model.User.Id)</button>
            </div>

            <div id="second">
                @Html.DisplayFor(model => model.User.Id)
            </div>
        </div>
        
        <br>
        <div id="row">
            <div id="first">

                <button id="Contentbutton" type="button" class="btn btn-default">@Html.DisplayNameFor(model => model.Content)</button>
            </div>

            <div id="second" style="float: left; ">
                @Html.DisplayFor(model => model.Content)
            </div>
        </div>
        
        <br>
        <div id="row">
            <div id="first">
                <button id="DateAddedbutton" type="button" class="btn btn-default">@Html.DisplayNameFor(model => model.DateAdded)</button>
            </div>

            <div id="second" style="float: left;">
                @Html.DisplayFor(model => model.DateAdded)
            </div>
            <div id="clearboth"></div>
        </div>
    </dl>
</div>

<br/>
<p>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" }) 
    @if (User.Identity.IsAuthenticated || User.IsInRole("Admin") || User.IsInRole("Employee") || Model.UserId !=User.Identity.GetUserId())
    {
        @: |
            
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    }
   
</p>
