﻿@using PagedList.Mvc
@model PagedList.IPagedList<Repository.Models.Announcement>


@{
    ViewBag.Title = "Announcements, Advertisments, Ads";
    ViewBag.Description = "You can find there whatever you need.";
    ViewBag.Keywords = "List, Announcements, Announcement, Advertisment, Ads, Ad, Advert";

}
<head>
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>
</head>
<h2>Ad Service</h2>
@if (ViewBag.Error == true)
{
    <div class="alert alert-danger" role="alert">
        Error has occured during deleting.
        <br>
        Try Again, please.
    </div>
}
@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("User Id", "Index", new {sortOrder = ViewBag.IdSort})
        </th>
        <th>
            @Html.ActionLink("Content", "Index", new { sortOrder = ViewBag.ContentSort })
        </th>
        <th>
          @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSort })
        </th>
        <th>
           @Html.ActionLink("Date Added", "Index", new { sortOrder = ViewBag.DateAddedSort })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning" })

                @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Employee")))
                {
                    <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    if (User.IsInRole("Admin"))
                    {
                        <br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    }

                }


            </td>
        </tr>
    }

</table>
<div>
    <br/>
    Page
    @(Model.PageCount < Model.PageNumber ? 0:Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model,page=>Url.Action("Index",new {page, sortPage = ViewBag.CurrentSort}))

</div>
